.w_lime
{color:#fff!important;background-color:#a4c400!important}
.w_green
{color:#fff!important;background-color:#60a917!important}
.w_emerald
{color:#fff!important;background-color:#008a00!important}
.w_teal
{color:#fff!important;background-color:#00aba9!important}
.w_cyan
{color:#fff!important;background-color:#1ba1e2!important}
.w_blue
{color:#fff!important;background-color:#3e65ff!important}
.w_cobalt
{color:#fff!important;background-color:#0050ef!important}
.w_indigo
{color:#fff!important;background-color:#6a00ff!important}
.w_violet
{color:#fff!important;background-color:#aa00ff!important}
.w_pink
{color:#fff!important;background-color:#f472d0!important}
.w_magenta
{color:#fff!important;background-color:#d80073!important}
.w_crimson
{color:#fff!important;background-color:#a20025!important}
.w_red
{color:#fff!important;background-color:#e51400!important}
.w_orange
{color:#fff!important;background-color:#fa6800!important}
.w_amber
{color:#fff!important;background-color:#f0a30a!important}
.w_yellow
{color:#fff!important;background-color:#e3c800!important}
.w_brown
{color:#fff!important;background-color:#825a2c!important}
.w_olive
{color:#fff!important;background-color:#6d8764!important}
.w_steel
{color:#fff!important;background-color:#647687!important}
.w_mauve
{color:#fff!important;background-color:#76608a!important}
.w_taupe
{color:#fff!important;background-color:#87794e!important}
.w_sienna
{color:#fff!important;background-color:#a0522d!important}
.w_custom_ocean
{color:#fff;background-color:#0c3e66!important}